html, body {
    height: 100%;
    margin: 0;
    font-family: sans-serif;
}
body {
    user-select: none;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#mainText {
    font-size: 30px;
}
form {
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
form button {
    cursor: pointer;

}
div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}


#login {
    padding: 10px 50px;
}

#register {
    background: none;
    border: none;
}

#statCode {
    color: #b83939;
}
#statCode.green {
    color: green;
}